#myButton {
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.enabled {
    background-color: hsl(240, 89%, 71%);
    color: white;
}

.hover {
    box-shadow: 0 0 10px hsl(0, 2%, 53%);
    font-size: bold;
}

.disabled {
    background-color: rgb(238, 221, 221);
    color: hsl(0, 0, 80%);
}